* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    flex-direction: column;
    background-image: url(https://t4.ftcdn.net/jpg/04/99/31/89/360_F_499318908_nDpRPKNMwn0U9Q7fBbqzsd9ksaQwAriK.jpg);
    background-size: contain;
}

main{
    display: grid;
    grid-template-columns: 33vmin 10vmin 33vmin;
    grid-template-rows: 5vmin 10vmin 33vmin 10vmin;
}

main  {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.flex-ctr {
    display: flex;
    align-items: center;
}

.playeracard,.playerbcard {
    width: 15vmin;
    height: 20vmin;
    background-color: whitesmoke;
    background-position: center;
    background-size:cover;
}

#pabox {
    border: 1vmin solid white;
    border-radius: 2vmin;
    width: 100%;
    padding: 1vmin;
}

#pbbox {
    border: 1vmin solid white;
    border-radius: 2vmin;
    width: 100%;
    padding: 1vmin;
}

button {
    justify-self: center;
    width: 16vmin;
    margin: 1vmin;
    background-color: pink;
    color: black;
    border:3vmin soild black;
    border-radius: 2vmin;
    font-size: 4vmin;
    
}

button:hover {
    background-color: palevioletred;
    background: palevioletred;
    color: white;
}

h1 {
    color: white;
    font-style: oblique;
   
}

h2 {
    text-align: center;
    color: palevioletred;
    margin-top: 40vmin;
    margin-right: 10vmin;
    margin-top: initial;

}



